<% unless @errors.nil? %>
  <div class="alert alert-dismissible alert-danger">
    <label> <%= pluralize(@errors.count, "error") %> prohibited this pin from being saved: </label>
      <ul>
        <% @errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>  
      </ul>
  </div>
<% end %>